$main-salat:#7da00c;
$main-meet: #d73a31;
$main-east: #e67f10;
$main-italic: #009246;
$main-green: #688800;
$color-text: #4a4a4a;
$color-grey: #949494;
$gradient-salat: linear-gradient(320.69deg, #536614 15.36%, #97C20B 84.86%);
$gradient-italic:linear-gradient(320.42deg, #076534 15.36%, #00DB69 82.23%);
$gradient-meet:linear-gradient(321.31deg, #99160E 15.37%, #E84239 81.98%);
$gradient-east:linear-gradient(324.18deg, #BA6400 14.36%, #FF9D34 85.34%);
$shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);

/* :root {
	--main-salat: $main-salat;
	--main-meet: $main-meet;
	--main-east: $main-east;
	--main-italic: $main-italic;
	--main-green: $main-green;
	--color-text: $color-text;
	--color-grey: $color-grey;
} */

@mixin bg {
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

@mixin tr {
	transition: all 0.24s;
}