@import 'vars';
@import 'fonts';
@import 'global';

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
.item {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;

  &__ingr,
  &__price {
    margin: 16px 0;
  }

  &__picture {
    width: 100%;
    object-fit: contain;
  }
}



//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import 'media';